body{
    margin: 64px auto 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1{
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    margin: 88px 30px 16px 16px;
    
}

h1 span{
    font-weight: bold;
    color: #EE24FF;
    font-size: 32px;
}

p{
    color: #828282;
    font-size: 15px;
}


span{
    color: #3F3D56;
    font-weight: bold;
}

a{
    text-decoration: none;
}



#hero{
    margin: auto;
    
}

#hero img{
    margin-left: 72px;
}


.pcompat{
    width: 540px;
    margin: 0 auto 32px;
}

footer{
    display: grid;
    margin-top: 80px;
}

#links a + a{
    margin-left: 42px;
}


#wave{
    position: relative;
    width: 100%;
    height: 104px;
    margin-top: 40.83px;

}

